* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: aqua;
}

#main {
  width: 1000px;
  height: 1000px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: calc(100% / 10);
  aspect-ratio: 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  background-color: blue;
}
